name: frkassa
description: "FRKassa - Employee app for scanning products and managing shopping carts via QR codes."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  mobile_scanner: ^7.1.3
  http: ^1.6.0
  cupertino_icons: ^1.0.8
  provider: ^6.1.5+1
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
